@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  body {
    /* 默认 (亮色) */
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  
  /* 深色模式下的全局样式 */
  :root.dark body {
    @apply bg-gray-900 text-gray-100;
  }
}